<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @organization_type.name %>
</p>


<%= link_to 'Edit', edit_organization_type_path(@organization_type) %> |
<%= link_to 'Back', organization_types_path %>
