<h1>Assessment Requests</h1>
<table>
  <tbody>
    <% for request in @customer.assessment_requests %>
      <% cycle = cycle("even","odd") %>
      <tr class="<%= cycle %>">
        <td><%= request.created_at.to_date %></td>
        <td><%= link_to "Details", request, :class=>"details" %></td>
      </tr>
    <% end %> 
  </tbody>
</table>