<h1>Customer</h2>
<% if @assessment_request.customer.nil? %>
  No customer selected.
<% else %>
  <% if can? :read, @assessment_request.customer %>
    <%= link_to @assessment_request.customer.name_reversed,
                @assessment_request.customer %>
  <% else %>
    <%= @assessment_request.customer.name_reversed %>
  <% end %>
<% end %>
<% if can? :create, Customer %>
  <%= link_to "Change...", controller: :assessment_requests,
                           action: :change_customer,
                           id: @assessment_request %>
<% end %>
