<h1>Case</h1>
<% if @assessment_request.customer.nil? %>
  <% if can? :edit, @assessment_request %>
    Set customer (above) before creating a case.
  <% else %>
    No associated case.
  <% end %>
<% else %>
  <% if @assessment_request.kase.nil? %>
    No associated case.
  <% else %>
    <% if can? :read, @assessment_request.kase %>
      <%= link_to "View Case ##{@assessment_request.kase_id}",
                  @assessment_request.kase %>
    <% else %>
      Case no: <%= @assessment_request.kase_id %>
    <% end %>
  <% end %>

  <% if can? :create, CoachingKase %>
    <%= link_to "Change coaching case...", :controller => :assessment_requests,
                             :action => :change_coaching_kase,
                             :id => @assessment_request %>
  <% end %>
<% end %>