<fieldset>
  <ol class="first">
    <h1>Assessment Request</h1>
    <%= render 'form' %>
  </ol>
  <ol class="second">
    <ol class="section" id="customer">
      <li>
        <%= render "customer" %>
      </li>
    </ol>

    <ol class="section" id="case">
      <li>
        <%= render "kase" %>
      </li>
    </ol>
  </ol>
</fieldset>
