common: &common
  adapter: postgresql
  host: localhost
  username: wiseguide
  password: wiseguide
  min_messages: WARNING
  pool: 5
  timeout: 5000

development:
  <<: *common
  database: wiseguide_development

test: &test
  <<: *common
  database: wiseguide_test
  min_messages: ERROR

cucumber:
  <<: *test