<h1>Referral Resources</h1>

<% unless @active_resources.empty? %>
  <h2>Active Referral Resources</h2>
  <%= render partial: 'list', locals: { resources: @active_resources } %>
<% end %>

<% unless @inactive_resources.empty? %>
  <h2>Inactive Referral Resources</h2>
  <%= render partial: 'list', locals: { resources: @inactive_resources } %>
<% end %>

<br />

<% if can? :edit, Resource %>
  <%= link_to 'New Resource', new_resource_path %>
<% end %>
