<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ada_service_eligibility_status.name %>
</p>

<%= link_to 'Edit', edit_ada_service_eligibility_status_path(@ada_service_eligibility_status) %> |
<%= link_to 'Back', ada_service_eligibility_statuses_path %>
